* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-break: 1.6;
    box-sizing: border-box;
}

body {
    background-color: #f4f6f8;
    color: #222;
}

/*Navbar Styles*/
header {
    background-color: #222;
    border-bottom: 1px solid #333333;
}

.navbar {
    max-width: auto;
    margin: auto;
    padding: 10px 20px;
    color: #fff;
}

.nav-container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    font-size: 22px;
    font-weight: 700;
}

.menu-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.nav-menu {
    list-style-type: none;
    background: #2c3e50;
    position: absolute;
    top: 50px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    display: none;
    overflow: hidden;
}

.nav-menu li a {
    display: block;
    text-decoration: none;
    padding: 12px 16px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-menu li a:hover {
    font-weight: 800;
    border-bottom: #e63946 2px solid;
    background: #34495e;
}

.nav-menu.show {
    display: block;
}

/*Navbar Styles End*/

/*FAQ Section Styles*/
.faq {
    max-width: 600px;
    height: auto;
    margin: 100px auto;
    padding: 20px;
    border: #222 3px solid;
    border-radius: 10px;
    background-color: #ddd;
}

.faq h1 {
    text-align: center;
    margin-bottom: 20px;
}

.faq-item {
    background: #ffffff;
    border-radius: 6px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.faq-header {
    width: 100%;
    padding: 16px 20px;
    background: #2c3e50;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background: #f9f9f9;
    padding: 0 20px;
    transition: max-height 0.4s ease, padding 0.3s ease;
}

.faq-content p {
    padding: 15px 0;
    color: #333;
}

.faq-item.active .faq-content {
    max-height: 200px; /* Adjust based on content */
    padding: 15px 20px;
}

.faq-item.active .icon {
    transform: rotate(90deg);
}

/*FAQ Section Styles End*/

/*Footer Styles*/
.footer-container {
    background-color: #222;
    color: #ddd;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 15px;
}

/*Footer Styles End*/