services:
  mongo:
    image: mongo:latest
    container_name: mongo_db
    volumes:
      - mongo_db-data:/data/db

  server:
    build: ./server
    container_name: server
    ports:
      - "5000:3000"
    environment:
      MONGO_URI: mongodb://mongo_db:27017/week5_db
    depends_on:
      - mongo

  client:
    build: ./client
    container_name: client
    ports:
      - "3001:3000"
    depends_on:
      - server

volumes:
  mongo_db-data:
