* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial sans-serif;
}

body {
    background: lightgray;
    color: #fff;
}

/*Navigation Bar Styles*/
.navbar {
    background-color: #222;
    color: #fff;
    padding: 15px 20px;
    overflow: hidden;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: auto;
    margin: auto;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    text-decoration: none;;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links li a:hover {
    text-decoration: 1px underline red;
    font-weight: bold;
}

/*Navigation Bar Styles Ends*/

/**Main Content Styles*/
.to-do-app {
    max-width: 600px;
    margin: 150px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 1.1);
}

.to-do-app h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-style:italic;
    font-size: 40px;
}

form {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.3);
}

button {
    margin: 10px 0px;
    padding: 10px 20px;
    background: grey;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.5);
}

form > li {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
/*Main Content Styles End*/

/*Footer Styles*/
.footer-container {
    background: #222;
    color: #ddd;
    text-align: center;
    padding: 10px 15px;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 1500px;
}
/**Footer Styles Ends*/