* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    color: #333;
}

/*Index.html (Home Page) Styles*/
/* Hero Section */
.hero {
    height: 80vh;
    background: url("Images/bg.jpeg")
        center/cover no-repeat;
    position: relative;
}

.hero-overlay {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    text-align: center;
    color: #fff;
    max-width: 600px;
    padding: 20px;
    font-style: oblique;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 1.1rem;
    margin-bottom: 25px;
    line-height: 1.6;
}

.hero-btn {
    display: inline-block;
    padding: 12px 28px;
    background: orangered;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
}

.hero-btn:hover {
    background: #e04800;
}

/* Categories Section */
.categories {
    padding: 50px 20px;
    text-align: center;
}

.categories h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-style: oblique;
    text-decoration: 2px underline orangered;
}

.category-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;;
}

.category-card {
    padding: 14px 22px;
    border: 1px solid #ddd;
    border-radius: 6px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    background: #fff;
    transition: all 0.3s ease;
}

.category-card:hover {
    background: #f5f5f5;
    border-color: orangered;
    color: orangered;
}
/*Home Page Styles End*/

/*Navigation Bar Styles*/
.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.navbar-container {
    max-width: auto;
    padding: 10px 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Logo Styles*/
.logo {
    font-size: 35px;
    font-weight: bolder;
    font-style: italic;
    text-decoration: 2px underline red;
    color: #222;
}

.logo-span {
    color: red;
    font-weight: bolder;
}

/*Logo Styles End*/
.nav-links {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    color: #222;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.nav-links li a:hover {
    text-decoration: 2px underline #333;
    font-size: 20px;
}

/*Navigation Bar Styles Ends*/

/*Main Content Styles*/
.containers {
    flex: 1;;
    max-width: auto;
    margin: auto;
    padding: 20px;
}
 
.product-toolabr {
    margin-bottom: 24px;
}

/*Search Bar + Sorting Products Styles*/
.product-filters {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    flex-shrink: 0;
}

/*Search Bar*/
.search-box input {
    width: 200px;
    padding: 10px 15px;
    margin: 2px;
    font-size: 15px;
    border: 1px solid #aaa;
    border-radius: 6px;
    transition: border 0.2s ease;
} 

/* Search Bar Ends

/*Sorting Products Button*/
.product-filters select {
    padding: 10px 15px;
    font-size: 15px;
    border: 1px solid #aaa;
    border-radius: 6px;
}

/*Sorting Products Button Ends*/
/*Search Bar + Sorting Products Styles End*/


/*Product Category Bar Styles*/
.product-categories {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    overflow-x: auto;
}

.product-category-button {
    background: none;
    border: none;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    color: #666;
}

.product-category-button.active {
    color: #000;
    font-weight: 600;
    border-bottom: 2px solid #e63946;
}
/*Product Category Bar Styles End*/

.toolbar-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

/*Products Grid Styles*/
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

/*Products Card Styles*/
.product-card {
    background: #fff;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    position: relative;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    border: 4px solid orangered;    
}

.product-card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

/*Badge (Product Card Styles)*/
.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 4px 8px;
    font-size: 15px;
    color: #fff;
}

.sale {
    background-color: #e63946;
}

.out {
    background-color: #333;
}

.new {
    background-color: #2a9d8f;
}
/*Badge (Product Card Styles) Ends*/

.product-card-content {
    text-align: center;
    padding: 10px 0;
    color: #555;
}

.product-card-content h3 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 6px;
}

.stars {
    color: #f4a261;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.rating-value {
    font-size: 15px;
    color: #777;
}

.price {
    font-weight: bold;
    margin-top: 6px;
}

/*Products Card Styles Ends*/
/*Products Grid Styles Ends*/

/*Main Content Styles Ends*/

/* Footer Styles */
footer {
    background-color: #2b2b2b;
    color: #ddd;
    margin-top: 40px;
    padding: 20px 0;
    font-size: medium;
}

footer .footer-container {
    max-width: auto;
    margin: 0 20px;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

footer h4 {
    margin-bottom: 10px;
    font-size: large;
    padding: 5px 0;
    border-bottom: #bbb 2px solid;
}

footer ul {
    list-style: circle;
    padding: 0;
}

footer li {
    margin-bottom: 8px;
    font-size: 15px;
}

footer p {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color: #aaa;
    border-top: #ddd 1px solid;
    font-weight: bold;
}

/* Footer Styles End  */
