services:
  backend1:
    build: ./backend
    environment:
      - INSTANCE_ID=1
    expose:
      - "3000"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3000/api" ]
      interval: 5s
      retries: 5
      timeout: 3s
      start_period: 3s

  backend2:
    build: ./backend
    environment:
      - INSTANCE_ID=2
    expose:
      - "3000"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3000/api" ]
      interval: 5s
      retries: 5
      timeout: 3s
      start_period: 3s

  backend3:
    build: ./backend
    environment:
      - INSTANCE_ID=3
    expose:
      - "3000"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3000/api" ]
      interval: 5s
      retries: 5
      timeout: 3s
      start_period: 3s

  backend4:
    build: ./backend
    environment:
      - INSTANCE_ID=4
    expose:
      - "3000"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3000/api" ]
      interval: 5s
      retries: 5
      timeout: 3s
      start_period: 3s

  nginx:
    image: nginx:alpine
    container_name: week5_day3_nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      backend1:
        condition: service_healthy
      backend2:
        condition: service_healthy
      backend3:
        condition: service_healthy
      backend4:
        condition: service_healthy
