* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-break: 1.6;
}

body {
    background-color: #f4f6f8;
    color: #222;
}

/*HEADER + NAVBAR STYLES*/

header {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.navbar {
    max-width:auto;
    margin: auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items:center; 
}

.logo {
    height: auto;
    width: 150px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 2px;
}

.nav-links li a {
    color: #333333;
    text-decoration: none;
    padding: auto;
    margin: auto 15px;
    font-weight: 590;
    font-size: large;
}
    
.nav-links li a:hover {
    font-weight: 800;
    font-style: italic;
    border-bottom: #e63946 3px solid;
}
/*HEADER + NAVBAR STYLES END*/

/*MAIN CONTENT STYLES*/
.container {
    max-width: auto;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 30px;
    padding: 0 20px;
}

/*FEATURED ARTICLE STYLES*/
.featured {
    background: #ffffff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

.featured img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.featured-text {
    background: #222;
    color: #fff;
    padding: 20px;
}

.featured-text h2 {
    margin-bottom: 10px;
    font-size: 28px;
}

.featured-text p {
    font-size: 14px;
    color: #ccc;
    padding: 10px 0 0;
}
/*FEATURED ARTICLE STYLES END*/

/*LATEST NEWS GRID STYLES*/
.latest-news {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
}

.latest-news h2 {
    border-bottom: 3px solid #e63946;
    margin-bottom: 20px;
    font-size: 24px;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.news-card {
    background-color: #f9f9f9;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

.news-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-card h3 {
    margin: 15px;
    padding: 12px 12px 0;
    font-size: 20px;
}

.news-card p {
    margin: 0 15px 15px;
    padding: 0 12px 12px;
    color: #555;
    font-size: 14px;
}
/*LATEST NEWS GRID STYLES END*/
/*MAIN CONTENT STYLES END*/

/*SIDEBAR STYLES*/
.sidebar {
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 6px;
}

/*SIDEBAR FEATURED ARTICLE STYLES*/
.sidebar-feature {
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

.sidebar-feature img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.sidebar-feature h3 {
    /* margin: 15px; */
    padding: 20px;
    font-size: 20px;
    background: #222;
    color: #fff;
}
/*SIDEBAR FEATURED ARTICLE STYLES END*/

/*SIDEBAR NEWS LIST STYLES*/
.trending {
    background: #fff;
    border-radius: 6px;
    padding: 15px;
}

.trending h2 {
    display: inline-block;
    border-bottom: 3px solid #e63946;
    margin-bottom: 15px;
    padding: 10px 0;
    font-size: 25px;
}

.trending ul {
    list-style-type: circle;
    margin: auto;
    padding: 10px;
}

.trending li {
    margin-bottom: 12px;
    font-size: 18px;
}

.trending li:hover {
    font-weight: 700;
}

/*SIDEBAR NEWS LIST STYLES END*/
/*SIDEBAR STYLES END*/

/*FOOTER STYLES*/
footer {
    background-color: #2b2b2b;
    color: #ddd;
    margin-top: 40 px;
    padding: 20px 0;
    font-size: medium;
}

footer .footer-container {
    max-width: auto;
    margin: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px 20px;
}

footer h4 {
    margin-bottom: 10px;
    font-size: large;
    padding: 5px 0;
    border-bottom: #ddd 2px solid;
}

footer ul {
    list-style:circle;
    padding: 0;
}

footer li {
    margin-bottom: 8px;
    font-size: 15px;
}

footer p {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color: #aaa;
    border-top: #ddd 1px solid;
}

/* Footer Styles End */

/* Responsive Design */
@media (max-width: 992px) {
    .container {
        grid-template-columns: 1fr;
    }
    
    .news-grid {
        grid-template-columns: 1fr 1fr;
    }

    .featured img {
        height: 300px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 12px;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .sidebar-feature img {
        height: 200px;
    }

    .sidebar {
        flex-direction: col;
        flex-wrap: wrap;
    }
    
    footer .footer-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 592px) {
    
    .container {
        grid-template-columns: 1fr;
    }
    
    .news-grid {
        grid-template-columns: 1fr;
    }

    .featured img {
        height: 200px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 12px;
    }

    .nav-links {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .sidebar {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sidebar > * {
        flex: 1 1 100%;
    }

    .sidebar-feature img {
        height: 100px;
    }
    
    footer .footer-container {
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
}