services:
  backend:
    build: ./backend
    expose:
      - "3000"

  nginx:
    image: nginx:alpine
    container_name: week5_day4_nginx
    ports:
      - "8080:80"
      - "8443:443" 
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
    depends_on:
      - backend